*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Metrophobic", sans-serif;
  padding: 0;
  margin: 0;
}

input,
textarea {
  background-color: white;
  border: 1.5px solid;
  border-color: rgb(205, 208, 213);
  outline: 0;
  cursor: text;
  border-radius: 0.375rem;
  resize: none;
}

.text-name {
  color: rgb(50, 57, 66);
  font-weight: 800;
}
.text-semi-black {
  color: rgb(93, 105, 121);
}

.text-red {
  color: rgb(239 68 68);
}

.w-full {
  width: 100%;
}

.p-2 {
  padding: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}
.mr-1 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.mt-2 {
  margin-top: 0.5rem; /* 8px */
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.h-4 {
  height: 1rem; /* 16px */
}

.w-4 {
  width: 1rem; /* 16px */
}

.flex {
  display: flex;
}

.text-blue {
  color: rgb(68, 151, 253);
}

.text-gray {
  color: rgb(141, 148, 160);
}

.font-semibold {
  font-weight: 600;
}

.background {
  background-color: rgb(229 231 235);
  padding: 1rem;
  min-height: 100%;
  color: rgb(102, 109, 125);
  font-size: 1rem;
  line-height: 1.25rem;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.card-white {
  background-color: rgb(255 255 255);
  padding: 1rem;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.container-profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.profile-post {
  display: flex;
}

.img-avatar {
  margin-right: 0.5rem;
  border-radius: 9999px;
}

.container-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-center {
  display: flex;
  align-items: center;
}

.icon-share-love {
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.card-comments {
  background-color: rgb(243 244 246);
  padding: 1rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.btn-blue {
  background-color: rgb(71, 149, 244);
  margin-top: 0.5rem; /* 8px */
  border-radius: 0.375rem;
  padding-top: 0.5rem; /* 4px */
  padding-bottom: 0.5rem; /* 4px */
  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem; /* 12px */
  color: white;
  border: none;
  margin-left: 1px;
}
