<div style="padding: 25px">
  <table
    style="width: 100%; background: rgb(161, 161, 161)"
    mat-table
    [dataSource]="dataSource"
  >
    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef>
        <div style="font-size: 18px; color: rgb(255, 200, 60); margin-top: 5px">
          Students.
        </div>
        <div>
          <mat-form-field floatLabel="never">
            <input
              matInput
              placeholder="Title"
              required
              style="font-size: 16px"
            />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element" style="color: black">
        {{ element.student }}
      </td>
    </ng-container>

    <ng-container matColumnDef="schoolOrigin">
      <th mat-header-cell *matHeaderCellDef>
        <div style="font-size: 18px; color: rgb(255, 200, 60); margin-top: 5px">
          School Origin.
        </div>
        <div>
          <ng-select style="width: 200px">
            <ng-option value="">Pilih</ng-option>
          </ng-select>
        </div>
      </th>
      <td mat-cell *matCellDef="let element" style="color: black">
        {{ element.schoolOrigin }}
      </td>
    </ng-container>

    <ng-container matColumnDef="schoolCorrecting">
      <th mat-header-cell *matHeaderCellDef>
        <div style="font-size: 18px; color: rgb(255, 200, 60); margin-top: 5px">
          School Correcting.
        </div>
        <ng-select style="width: 200px">
          <ng-option value="">Pilih</ng-option>
        </ng-select>
      </th>
      <td
        mat-cell
        *matCellDef="let element; let i = index"
        style="color: black"
      >
        <ng-select
          [(ngModel)]="element.schoolCorrecting"
          style="width: 200px; color: white"
          (change)="handleSchoolCorrecting($event, i)"
        >
          <ng-option
            *ngFor="let school of dataSelectSchoolCorrect"
            [value]="school.short_name"
            [disabled]="school.short_name === dataSource[i].schoolOrigin"
            style="color: white"
          >
            {{ school.short_name }}
          </ng-option>
        </ng-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="crossCollector">
      <th mat-header-cell *matHeaderCellDef>
        <div style="font-size: 18px; color: rgb(255, 200, 60); margin-top: 5px">
          Cross Collector
        </div>
        <ng-select style="width: 200px">
          <ng-option value="">Pilih</ng-option>
        </ng-select>
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <ng-select
          [(ngModel)]="element.crossCollector"
          style="width: 200px"
          (change)="handleSchoolCorrecting($event, i)"
        >
          <ng-option *ngFor="let cross of slctCross" [value]="cross.full_name">
            {{ cross.full_name }}
          </ng-option>
        </ng-select>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <router-outlet></router-outlet>
</div>
